/*Calendar Styling*/

.view-cap, .view-container-border { 
	background-color:black; 
}
.mv-daynames-table { 
	color:white; 
	background:black; 
}
.mv-event-container { 
	border-top:1px solid black; 
}