.feed-wrap {
	display: flex;
}

.half-feed {
	box-sizing: border-box;
	width: 50%;
	padding: 0 40px;
    vertical-align: top;
}

@media only screen and (max-width : 768px) {
	.half-feed {
		width:90%;
	}
}