.feed-wrap {
	display: flex;
	flex-direction: column;

	.inner-wrap {
		flex-direction: column;
	}
}

.half-feed {
	box-sizing: border-box;
	width: 100%;
	padding: 0 40px;
    vertical-align: top;
}

@include media($medium){
	.half-feed {
		width: 50%;
	}
	.feed-wrap {
		.inner-wrap {
			flex-direction: row;
		}
	}
}