/* ==========================================================================
   OFF CANVAS SLIDING MENU
   Based on code by Diego Eis
   http://tableless.com.br/fazendo-um-slide-menu-mobile-sem-plugin/
   ========================================================================== */

/* Slider */

.slide {
    transform: translateX(-50%);
    @include media($medium) {
      transform: translateX(em(-300));
    }
    @include media($large) {
      transform: translateX(em(-400));
    }
  }

/*
   Sliding menu button
   ========================================================================== */

.sliding-menu-button {
  position: fixed;
  transform: translateZ(0);
  backface-visibility: hidden; /* fix scroll jank */
  //top: $gutter;
  top: 0;
  right: 0;
  display: block;
  outline: 0;
  border: 2.5px solid transparent;
  cursor: pointer;
  z-index: 30;
  box-sizing: border-box;

  background: #181818;
  &.slide {
    background: #222;
  }
  &:hover {
    background: #C40729;
  }
  &.slide:hover {
    background: #181818;
  }
  transition: $sliding-menu-animation;
  height: 61px;
  &.slide {
    transform: translateX(0); /* don't slide close button on small screens only */
    @include media($medium) {
      transform: translateX(em(-300)); /* reset slide position */
    }
    @include media($large) {
      transform: translateX(em(-400)); /* reset slide position */
    }
  }
}

.nav-slide-lines {
  position: relative;
  top: 50%;
  transform: translate(0, -250%);

  width: 30px;
  height: 4px;
  margin: 0 15px;
  background: #fff;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    width: 100%;
    display: block;
    transform-origin: right;
    transition: transform .3s ease;
  }
  &::before {
    transform: translate(0, 200%) scaleX(0.6);
  }
  &::after {
    transform: translate(0, 400%) scaleX(0.3);
  }
}
*:hover > .nav-slide-lines::before {
  transform: translate(0, 200%) scaleX(1);
}
*:hover > .nav-slide-lines::after {
  transform: translate(0, 400%) scaleX(1);
}

/*
   Sliding content
   ========================================================================== */

.sliding-menu-content::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

.sliding-menu-content {
  position: fixed;
  top: 0;
  left: 100%;
  text-align: left;
  height: 100%;
  width: 100%;

  &.is-visible {
    z-index: 20;
    transform: translate(-100%, 0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  // IE 10+ hide scrollbar
    //overflow: -moz-scrollbars-none;  // Firefox
  }

  .menu-edge {
    height: 61px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      position: absolute;
      display: flex;
      margin: 0;
      color: $white;
      font-size: 100%;
      padding: 0 20px;
      top: 50%;
      left: 0;
      transform: translate(0, -150%);
      opacity: 0;
      transition: transform .6s ease, opacity .4s ease;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
        padding-top: 1px;
      }

      font-size: 80%;
      @include media($medium) {
        font-size: 100%;
      }
    }
    .nav-back {
      cursor: pointer;
    }
    .nav-back-icon {
      fill: #fff;
      padding-right: 10px;

      svg {
        height: 100%;
      }
    }

    h1.active {
      opacity: 1;
      transform: translate(0, -50%);
    }
    h1.inactive {
      transform: translate(0, 50%);
      opacity: 0;
    }
  }
  .menu-fill {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    color: #fff;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      cursor: pointer;
    }
  }

  @include media($medium) {
    display: none;
  }
  z-index: 20;
  ul {
    margin: 0;
  }
  ul,
  li {
    list-style: none;
  }
  li {
    display: block;
    position: relative;
    //min-height: 70px;
    @include media($small) {
      //min-height: 80px;
    }
  }
  .menu-item {
    a {
      text-decoration: none;
    }
    .teaser {
      position: absolute;
      left: 0;
      margin-bottom: 0;
      width: 50px;
      border: 2px solid $white;
      margin-bottom: ($gutter / 2);
      opacity: 0.6;
      @include media($small) {
        width: 150px;
      }
    }
    a:hover .teaser {
      opacity: 1;
    }
    .title {
      display: block;
      //margin-left: 60px;
      font-family: $nav-font;
      @include font-size(20,no);
      //font-weight: 700;
      @include media($small) {
      }
    }
    .excerpt {
      margin-top: 0;
      margin-left: 60px;
      @include font-size(14,no);
      @include media($small) {
        margin-left: 170px;
        @include font-size(16,no);
      }
    }
  }
  .sub-menu-item > li a {
    display: block;
    color: $white;
    font-style: italic;
  }
  .menu-item .home a {
    @include font-size(32);
  }
  .rotatingBackground {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 140%;
    transform: scaleX(0);
    transform-origin: center right;
    background: #181818;
    z-index: 10;

    transition: transform .6s ease;
  }
  &.is-visible .rotatingBackground {
    transform: scaleX(1);
  }
  .content {
    position: relative;
    z-index: 20;
    opacity: 0;
    height: 100%;

    display: flex;
    flex-direction: column;

    .header {
      position: relative;
      z-index: 25;
    }
  }

  .nav-media-links {
    display: flex;
    justify-content: center;

    li {
      margin: 0 20px;
    }
    li, a {
      line-height: 1;
    }
    img {
      vertical-align: top;
    }
  }

  .nav-menu-option {
    display: flex;
    height: 33.33%;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 2px solid #181818;
    background: #222;

    opacity: 1;
    transform: translate(0, 0);
    transition: background .25s ease;

    position: relative;
    & > .label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      border-bottom: 1px solid #fff;
    }

    &.active:hover {
      background: #333;
    }

    .title, .label {
      font-size: 80%;
    }
    @include media($small) {
      .title {
        font-size: 100%;
      }
      .label {
        font-size: 100%;
      }
    }
  }
  .nav-menu-option a {
    color: #fff;
  }
  .menu-item > .nav-menu-option:nth-child(n){
    border-top: none;
  }
  .menu-item > .nav-menu-option:nth-child(2n - 1){
    border-left: none;
    border-right: 0.5px solid #181818;
  }
  .menu-item > .nav-menu-option:nth-child(2n){
    border-left: 0.5px solid #181818;
    border-right: none;
  }

  .nav-menu-group.active .nav-menu-option {
    opacity: 0;
    transform: translate(0, 5%);
    animation: slideIn .6s ease 0.6s 1 forwards;
  }
  @for $i from 1 through 6 {
    .nav-menu-group.active .nav-menu-option:nth-child(#{$i}) {
      -webkit-animation-delay:(#{$i*0.15s + 0.6s}); 
      animation-delay:(#{$i*0.15s + 0.6s}); 
    }
  }

  .nav-menu-group.inactive .nav-menu-option {
    opacity: 1;
    transform: translate(0, 0);
    animation: slideOut 0.6s ease 0s 1 forwards;
  }
  @for $i from 1 through 6 {
    .nav-menu-group.inactive .nav-menu-option:nth-child(#{$i}) {
      -webkit-animation-delay:(#{$i*0.15s}); 
      animation-delay:(#{$i*0.15s}); 
    }
  }

  @keyframes slideIn {
    0% {  
      opacity: 0;
      transform: translate(0, 5%);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  @keyframes slideOut {
    0% {  
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 5%);
    }
  }

  &.is-visible .content {
    animation: fadeIn .6s ease .3s 1 forwards;
  }

  .nav-menu-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-wrap: wrap;
    display: none;

    &.active {
      display: flex;
    }
  }
}

@keyframes fadeDown {
  to {
    opacity: 0;
    transform: translate(0, 10%);
  }
}

.nav-menu-option-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;

  @include media($small) {
    padding: 25px 20px;
  }

  .nav-menu-option-dot {
    width: 4px;
    height: 4px;
    margin: 0 10px;
    border-radius: 50%;
    background: #666;
    transition: background .6s ease;
    
    &:hover {
      background: #84051C;
    }

    @include media($small) {
      width: 8px;
      height: 8px;
    }
  }
}

@keyframes fadeIn {
  0% {  opacity: 0; }
  100% {  opacity: 1; }
}

/* Dim content when off canvas nav slides in */

.menu-screen {
  @include position(fixed, 0 0 0 0);
  visibility: hidden;
  z-index: 4;
  &.is-visible {
    visibility: visible;
    &:hover {
      cursor: pointer;
    }
  }
}


@include media($medium){
  .sliding-menu-button {
    display: none !important;
  }
}