---
layout: base
published: true
---
<div class="main-page-image-wrapper" style="
    background-image: url('{{ page.pimage }}');">
  <!--div class="front-logo">  
    <img style="display:block;"class="cu-logo" src= "/images/cu-logo.png">
  </div-->
  <div class='background'></div>
  <div class='main-front-page-subject' style="{{ page.subjectstyle }}">
  	CARLETON COMPUTER<br>SCIENCE SOCIETY
  </div>
</div>
    	<!--a href="http://ccss.carleton.ca/opportunities/volunteer/" target="_blank" class="skinny-underline">Sign up to be a volunteer!</a-->
      {{ content }}
